<!DOCTYPE html>
<html>
  <head>
    <title>Filmlist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<h1>Films List App</h1>
    <br/>
    <%= link_to "Home", root_path %>
    <br/>
    <%= link_to "Add New Film", new_film_path %>

    <%= yield %>
  </body>
</html>
